<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta property="og:url"                content="https://ddrscott.github.io/math-finder/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Math Finder" />
    <meta property="og:description"        content="Make your kids smarter than mine" />
    <meta property="og:image"              content="https://ddrscott.github.io/math-finder/images/example.png" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Math Finder" %></title>

    <%= stylesheet_link_tag :style %>
  </head>

  <body class="<%= page_classes %>">
    <a href="https://github.com/ddrscott/math-finder/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
    <%= yield %>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :ga %>
  </body>
</html>
