<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta property="og:url"                content="https://ddrscott.github.io/math-finder/" />
    <meta property="og:type"               content="article" />
    <meta property="og:title"              content="Math Finder" />
    <meta property="og:description"        content="Make your kids smarter than mine" />
    <meta property="og:image"              content="https://ddrscott.github.io/math-finder/images/example.png" />

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Math Finder" %></title>

    <%= stylesheet_link_tag :style %>
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>
    <section>
    <div class="social-icon-list">
      <a href="https://twitter.com/@_ddrscott_"><img src="images/glyphicons_social_31_twitter.png"/></a>
      <a href="https://github.com/ddrscott/math-finder"><img src="images/glyphicons_social_21_github.png"/></a>
    </div>
    </section>
    <%= javascript_include_tag :all %>
    <%= javascript_include_tag :ga %>
  </body>
</html>
